.App{
  text-align: left;
}

.site-layout-content {
  min-height: 80vh;
  padding: 24px;
  background: #fff;
}

Form{
  width: 60%;
  margin: 5% 10% 0% 15% !important;
}

.card{
background-color:steelblue;
  height: 200px;
  text-align: center;
}

.p1{
  padding-top: 30px;
  font-weight: bold;
  font-size: 24px;
  color:white;
}

h4{
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}